* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
